body {
	text-align: center;
}
h1, h2 {
	text-align: center;
}

h2 {
	font-size: 12pt;
	font-style: italic;
	padding: 10px;
}

#frame {
	position: relative;
	width: 600px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B22;
	border-radius: 2%;
}

#board {
	position: absolute;
	width: 501px;	/* adding a pixel fixed the div size problem*/
	height: 400px;
	margin-top: 25px;
	margin-left: 50px;
	font-size: 0;
	background-color: #DDD;
}

/* fine tune when working */
.piece {
	/*position: absolute;*/
	/*width: 15px;	Need to change this to % and edit with js
	height: 12px; */
	background-color: rgb(200, 200, 200);
	/*border: 1px solid #000;*/
	display: inline-block;
}

.knob {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #FFF;
	border-radius: 100%;
	border: 1px solid #AAA;
	bottom: 15px;
}

#left {
	left: 35px;
}

#right {
	right: 35px;
}
button {
	margin: 10px;
}